{{- if and (include "argo-stack.vault.enabled" .) .Values.s3.enabled }}
{{- if .Capabilities.APIVersions.Has "external-secrets.io/v1/SecretStore" }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: s3-credentials
  namespace: {{ .Values.namespaces.tenant }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade     # <---- Annotations added here
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/component: argo-workflows
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: {{ include "argo-stack.secretStore.kind" . }}
    name: {{ include "argo-stack.secretStore.name" . }}
  target:
    name: s3-credentials
    creationPolicy: Owner
    template:
      type: Opaque
  data:
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: {{ .Values.externalSecrets.secrets.workflows.artifactAccessKeyPath | replace "#" "/" }}
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: {{ .Values.externalSecrets.secrets.workflows.artifactSecretKeyPath | replace "#" "/" }}
{{- end }}
{{- end }}
