{{- if and (include "argo-stack.vault.enabled" .) (eq .Values.externalSecrets.vault.auth.method "kubernetes") }}
{{- if .Capabilities.APIVersions.Has "external-secrets.io/v1/ClusterSecretStore" }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.externalSecrets.vault.auth.serviceAccountName }}
  namespace: {{ include "argo-stack.secretStore.namespace" . }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade     # <---- Annotations added here
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/component: eso-vault-auth
{{- end }}
{{- end }}
