{{- if .Values.workflowTemplates.createExample }}
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: {{ .Values.workflowTemplates.nextflowHello.name | default "nextflow-hello-template" }}
  namespace: {{ .Values.workflowTemplates.namespace | default "argo" }}
  labels:
    app.kubernetes.io/name: argo-workflows
    app.kubernetes.io/part-of: argo-stack
  annotations:
    "helm.sh/hook": post-install,post-upgrade     # <---- Annotations added here      
spec:
  {{- if .Values.s3.enabled }}
  # Reference the global artifact repository for log archiving
  artifactRepositoryRef:
    configMap: artifact-repositories
    key: default-v1
  {{- end }}
  entrypoint: main
  serviceAccountName: wf-runner
  arguments:
    parameters:
      - name: git_revision
        value: "unknown"
  templates:
    - name: main
      container:
        image: {{ .Values.workflowTemplates.nextflowHello.image | default "alpine:3.20" | quote }}
        {{- if .Values.workflowTemplates.nextflowHello.command }}
        command:
{{ toYaml .Values.workflowTemplates.nextflowHello.command | nindent 10 }}
        {{- else }}
        command:
          - /bin/sh
          - -c
        {{- end }}
        {{- if .Values.workflowTemplates.nextflowHello.args }}
        args:
{{ toYaml .Values.workflowTemplates.nextflowHello.args | nindent 10 }}
        {{- else }}
        args:
          - echo "Hello from Argo Events!"
        {{- end }}
{{- end }}

